@{
    Layout = "/Views/Admin/Index.cshtml";
    ViewData["Title"] = "DashoBoard";
}
<div class="container">
    <div class="page-inner">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
            <div>
                <h3 class="fw-bold mb-3">Dashboard</h3>
                <h6 class="op-7 mb-2">Acunmedya Akademi Menü Projesi</h6>
            </div>
        </div>
        <!--_StatisticsViewComponentPartial-->
        @await Component.InvokeAsync("_StatisticsViewComponentPartial")
        <!--_ChartViewComponentPartial-->
        @await Component.InvokeAsync("_ChartViewComponentPartial")
        <!--_GetLocationViewComponentPartial-->
        @await Component.InvokeAsync("_GetLocationViewComponentPartial")
        <div class="row">
            <!--_LastRezervationViewComponentPartial-->
            @await Component.InvokeAsync("_LastRezervationViewComponentPartial")

            <!--_LastOrderViewComponentPartial-->
            @await Component.InvokeAsync("_LastOrderViewComponentPartial")

        </div>
    </div>
</div>