@model WeatherViewModel.Data
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <div class="alert alert-success">Ankara Hava Dururmu: @Model.temp</div>
</div>

