@model List<Journal>
@{
    Layout = "/Views/Admin/Index.cshtml";
    ViewData["Title"] = "Index";
    int a = 0;
}
<div class="container">
    <div class="page-inner">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
            <div>
                <h3 class="fw-bold mb-3">Bülten</h3>
            </div>
        </div>

        <div>
            <table class="table table-borderless fixed-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ad Soyad</th>
                        <th>Email</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        a++;
                        <tr>
                            <td>@a</td>
                            <td>@item.NameSurname</td>
                            <td>@item.Email</td>
                            <td><a class="btn btn-danger" href="/Journal/JournalDelete/@item.JournalId">Sil</a></td>
                        </tr>
                    }
                </tbody>
            </table>

            
        </div>

    </div>
</div>
