@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<!--PartialHead-->  
@await Html.PartialAsync("PartialHead")

<body>

    <!--PartialNavbar-->
    @await Html.PartialAsync("PartialNavbar")

    <!--PartialCarousel-->
    @await Html.PartialAsync("PartialCarousel")

    <!--CreateBooking-->
    @await Html.PartialAsync("CreateBooking")
    
    <!--Partial About-->
    @await Html.PartialAsync("PartialAbout")

    <!--PartialFeature-->
    @await Html.PartialAsync("PartialFeature")

    <!-- Food Start -->
    <div class="food">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-burger"></i>
                        <h2>Burgers</h2>
                        <p>
                            Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit non vulputa. Aliquam metus tortor auctor quis sem.
                        </p>
                        <a href="">View Menu</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-snack"></i>
                        <h2>Snacks</h2>
                        <p>
                            Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit non vulputa. Aliquam metus tortor auctor quis sem.
                        </p>
                        <a href="">View Menu</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-cocktail"></i>
                        <h2>Beverages</h2>
                        <p>
                            Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit non vulputa. Aliquam metus tortor auctor quis sem.
                        </p>
                        <a href="">View Menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Food End -->
    <!--_MenuListComponentPartial-->
    @await Component.InvokeAsync("_MenuListComponentPartial")


    <!--PartialTeam-->
    @await Component.InvokeAsync("_ChefListComponentPartial")

    <!--PartialTestimonial-->
    @await Html.PartialAsync("PartialTestimonial")

    <!--PartialContact-->
    @await Html.PartialAsync("PartialContact")

    <!--PartialFooter-->
    @await Html.PartialAsync("PartialFooter")

    <!--PartialScript-->
    @await Html.PartialAsync("PartialScript")

</body>
</html>
