@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<!--PartialHead-->  
@await Html.PartialAsync("PartialHead")

<body>

    <!--PartialNavbar-->
    @await Html.PartialAsync("PartialNavbar")

    <!--PartialCarousel-->
    <div id="carouse">
        @await Component.InvokeAsync("_CarouselViewComponentPartial")
    </div>
    <!--CreateBooking-->
    <div id="create-booking">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success">
                @TempData["Message"]
            </div>
        }
        @await Html.PartialAsync("CreateBooking")
    </div>

    <!--_AboutComponentPartial-->
    <div id="about">
        @await Component.InvokeAsync("_AboutComponentPartial")
    </div>

    <!--PartialFeature-->
    @await Html.PartialAsync("PartialFeature")

    <!--_FoodListComponentPartial-->
    @await Component.InvokeAsync("_FoodListComponentPartial")

    <!--_MenuListComponentPartial-->
    <div id="menu-list">
        @await Component.InvokeAsync("_MenuListComponentPartial")
    </div>


    <!--PartialTeam-->
    <div id="chef-list">
        @await Component.InvokeAsync("_ChefListComponentPartial")
    </div>
    <!--PartialTestimonial-->
    @await Html.PartialAsync("PartialTestimonial")

    <!--PartialContact-->
    <div id="contact"
         @await Html.PartialAsync("PartialContact")
    </div>
    <!--PartialFooter-->
    @await Html.PartialAsync("PartialFooter")

    <!--PartialScript-->
    @await Html.PartialAsync("PartialScript")

</body>
</html>
