@model dotNetMenuProject.Entities.Journal
<!-- Footer Start -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-contact">
                            <h2>Adresimiz</h2>
                            <p><i class="fa fa-map-marker-alt"></i>Bolu / Merkez Sümer Mah.</p>
                            <p><i class="fa fa-phone-alt"></i>+90 599 999 99 99</p>
                            <p><i class="fa fa-envelope"></i>enesaksu3429@gmail.com</p>
                            <div class="footer-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-link">
                            <h2>Hızlı Linkler</h2>
                            <a href="" Kullanım Şartları</a>
                            <a href="">
                                Gizlilik Politikası/a>
                                <a href="">Çerezler</a>
                                <a href="">Yardım</a>
                                <a href="">Sık Sorulan Sorular</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="footer-link">
                    <h2>Menu Bülteni</h2>
                    <p>
                        Alanında en uzman şeflerimizin ellerinden çıkan lezzetli tariflerden haberdar olmak için hemen
                        bültenimize kaydolun !!!
                    </p>
                </div>
                <div class="footer-newsletter">
                    <form class="" method="post" asp-action="PartialFooter" asp-controller="Default">
                        <button class="btn custom-btn" type="submit">Abone Ol</button>
                        <input class="form-control" type="text" asp-for="NameSurname" placeholder="Adınızı Giriniz" required="required">
                        <br />
                        <input class="form-control" type="text" asp-for="Email" placeholder="Mail Adresiniz" required="required">

                    </form>
                </div>
            </div>

            
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>Copyright &copy; <a href="#">AcunMedya Menu</a>, Tüm Hakları Saklıdır.</p>
            <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
        </div>
    </div>
</div>
<!-- Footer End -->
