<!-- Sidebar -->
<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="index.html" class="logo">
                <img src="~/kaiadmin/assets/img/kaiadmin/logo_light.svg"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">

                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Menüler</h4>
                </li>
                <li class="nav-item"><a href="/Default/Index"><i class="fas fa-globe"></i><p>Siteye Git</p></a></li>
                <li class="nav-item"><a href="/Dashboard/Index"><i class="fas fa-tachometer-alt"></i><p>Dashboard</p></a></li>
                <li class="nav-item"><a href="/Slider/Index"><i class="fas fa-images"></i><p>Slider</p></a></li>
                <li class="nav-item"><a href="/About/Index"><i class="fas fa-info-circle"></i><p>Hakkımızda</p></a></li>
                <li class="nav-item"><a href="/Booking/Index"><i class="fas fa-calendar-check"></i><p>Rezervasyonlar</p></a></li>
                <li class="nav-item"><a href="/Product/Index"><i class="fas fa-box"></i><p>Ürünler</p></a></li>
                <li class="nav-item"><a href="/Chefs/Index"><i class="fas fa-user-chef"></i><p>Şefler</p></a></li>
                <li class="nav-item"><a href="/Message/Index"><i class="fas fa-envelope"></i><p>Mesajlar</p></a></li>
                <li class="nav-item"><a href="/Journal/Index"><i class="fas fa-newspaper"></i><p>Bülten</p></a></li>
                <li class="nav-item"><a href="/Statistic/Index"><i class="fas fa-chart-line"></i><p>İstatistikler</p></a></li>
                <li class="nav-item"><a href="/Api/Index"><i class="fas fa-code"></i><p>Api</p></a></li>
            </ul>
        </div>

    </div>
</div>
<!-- End Sidebar -->
